/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: currentColor;
}

/* utility */
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.margin-up-down {
    padding: 20px 0;
}
.mg-0 {
    margin: 0 auto;
}
.botton {
    width: 200px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 700 bold;
}
.button-small {
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700 bold;
}
.center {
    text-align: center;
}
.a-underline {
    text-decoration: underline;
}


/* colori */

.bluet {
    background-color: #B5DDFF;
}
.blu {
    background-color: #0083FC;
}
.violet {
    background-color: #9792E4;
}
.white {
    background-color: white;
}
.dark {
    background-color: #333333;
}
.text-blu {
    color: #0084FD;
}
.text-violet {
    color: #9792E4;
}
.text-white {
    color: white;
}
.text-yellow {
    color: #FDC15F;
}


/* header */
.header-icons {
    margin: 20px;
}
.header-icons-desktop {
    display: none;
    color: white;
    
}
.header-icons-desktop ul li {
    display: inline-block;
    padding: 5px;
}
#get-start {
    color: black;
}


/* main */
.margin-main {
    margin-top: 90px;

}
#blu-card {
    max-width: 1200px;
}
#violet {
    max-width: 1100px;
}

#apple {
    font-size: 25px;
}

.card {
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    
}
.card-A {
    padding-bottom: 0;
}
.card h3, h3 {
    font-size: 25px;
}
.card i {
    font-size: 100px;

}
#arrow-box {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    background-color: #9792E4;
    
}
#arrow {  
    font-size: 25px;
    color: black;
    
}
#testimonials i {
    font-size: 20px;
}
#testimonials img {
    width: 200px;  
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}
#benefits h2 {
    font-size: 55px;
}
#benefits h3 {
    margin-top: 40px;
    padding-top: 40px;
}
#benefits h4 {
    font-size: 30px;
}
#about h2 {
    font-size: 35px;
}
#about p {
    line-height: 2.5;
}
#img-relative {
    position: relative; 
    z-index: -2; 
}
#about img {
    width: 200px;  
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%; 
    
}
#quotes {
    position: absolute;
    left: 150px;
    top: 0;
    z-index: 0;
    font-size: 40px;
}

#about .button-small i {
    font-size: 20px;
}
#started h1 {
    font-size: 60px;
}
.box {
    max-width: 700px;
}
#footer .card {
    
    max-width: 600px;

}