/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: currentColor;
}

/* utility */
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.margin-up-down {
    padding: 20px 0;
}
.mg-0 {
    margin: 0 auto;
}
.botton {
    width: 200px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 700 bold;
}
.button-small {
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700 bold;
}
.center {
    text-align: center;
}
.a-underline {
    text-decoration: underline;
}


/* colori */

.bluet {
    background-color: #B5DDFF;
}
.blu {
    background-color: #0083FC;
}
.violet {
    background-color: #9792E4;
}
.white {
    background-color: white;
}
.dark {
    background-color: #333333;
}
.text-blu {
    color: #0084FD;
}
.text-violet {
    color: #9792E4;
}
.text-white {
    color: white;
}
.text-yellow {
    color: #FDC15F;
}


/* header */
.header-icons {
    margin: 20px;
}



/* main */
.margin-main {
    margin-top: 90px;

}
#apple {
    font-size: 25px;
}

.card {
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    
}
.card h3, h3 {
    font-size: 25px;
}
.card i {
    font-size: 100px;

}
#arrow {
    font-size: 25px;
    color: black;
    border-radius: 50%;
    background-color: #9792E4;
    padding: 20px;
}
#testimonials i {
    font-size: 20px;
}
#testimonials .round {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
    
}
#testimonials img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;   
}
#benefits h2 {
    font-size: 55px;
}
#benefits h3 {
    margin-top: 40px;
    padding-top: 40px;
}
#benefits h4 {
    font-size: 30px;
}
#about h2 {
    font-size: 35px;
}
#about p {
    line-height: 2.5;
}
#about .round {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
}
#about img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;   
}
#quote-relative i {
    position: absolute;
    left: 120px;
    top: 0;
    z-index: 2;
    font-size: 40px;
}
#quote-relative {
    position: relative;
}
#about .button-small i {
    font-size: 20px;
}
#started h1 {
    font-size: 60px;
}
.box {
    width: 400px;
}
#footer .card {
    
    width: 300px;

}